<ul class="nav nav-sidebar">
  <li>
    <%= link_to "Users", admin_users_path %>
  </li>
  <li>
    <%= link_to "Categories", admin_categories_path %>
  </li>
  <li>
    <%= link_to "Authors", admin_authors_path %>
  </li>
  <li>
    <%= link_to "Books", admin_books_path %>
  </li>
</ul>
